<div id="message-<%#= message.id %>">
  <div class="mb-1 mt-2">
    <div id="message-<%= message.id %>">
      <div id="chatlive">
      <div id="message_img">

        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, height: 44, width: 53, crop: :fill, class: "styled-image" %>
        <% else %>
          <%= image_tag "placeholder.png", class: "styled-image" %>
        <% end %>      </div>

      <div id="message_info">

        <div id="message_contenty">
          <h6 style="font-size: 9px;"><%= message.member.user.first_name %></h6>
          <h4 style="font-size: 15px;"><%= message.content %></h4>
        </div>

        <div id="msg-time">
          <small>
            <i><%= message.created_at.strftime("%l:%M %p") %></i>
          </small>
        </div>

      </div>
    </div>
    </div>
  </div>
</div>
<br>
