<div class="go-home bg-white">
  <%= link_to susu_path(@susu), class: "link" do %>
    <i class="fa-solid fa-angle-left fa-3x" style="color: black;"></i>
  <% end %>
</div>
<div class="container-fluid border bg-white" style="height: calc(100vh - 127px); overflow:scroll">
  <div class="column no-gutters">
    <div class="page-content">
      <% @susu.messages.each do |message| %>
        <div id="message-<%= message.id %>">
          <div class="flex-grow-1 d-flex justify-content-center mb-3">  <div class="card w-75 bg-white">
            <div class="card-body">
              <small>
                <strong><%= message.member.user.first_name %></strong>
                <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
              <p><%= message.content %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
      <div class="form-container d-flex fixed-bottom justify-content-center bg-white">
        <%= simple_form_for [@susu, @message],
            html: {class: "d-flex w-75"} do |f|
          %>
            <%= f.input :content,
              label: false,
              wrapper_html: { class: 'w-75 border border-warning bg-white' },
              placeholder: "Message #{@susu.name}"
            %>
            <%= f.submit "Send", class: "rounded btn btn-warning mb-3 w-25 text-white" %>
        <% end %>
      </div>
  </div>
</div>
