<br>

<% invitation_found = false %>
<% if @susus.any? %>
  <% @susus.each do |susu| %>
    <% if @member.status == "pending" %>
      <% invitation_found = true %>
      <% break %> <!-- Exiting loop once a pending invitation is found -->
    <% end %>
  <% end %>
  <% if invitation_found %>
    <p> Your susu invitations</p>
  <% else %>
  <p>Your Susu List</p>
  <% end %>
<% else %>
 <p> No susu invitations</p>
<!--<p>Your Susu List</p>-->
<% end %>

<% if @susus.any? %>
  <% @susus.each do |susu| %>
    <% if @member.status == "pending" %>
      <div class="invite-card">
        <div id="invite_group_banner">
          <div id="susu_title">
            <h6><%= link_to susu.name, susu_path(susu) %></h6>
            <p><%= susu.members.count %> members join today</p>
          </div>
        </div>
        <div id="invite_detail">
          <div class="avatar_i">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            <p>Invited You to this susu</p>
          </div>
          <%= button_to "Join", accept_invite_path(susu), class: "btn btn-light" %>

        </div>
      </div>
    <% else %>
<!--      No susu invitations-->
    <% end %>
  <% end %>
<% else %>
<!--  <p>No susus available.</p>-->
<% end %>


<% if @susus.any? %>
  <% @susus.each do |susu| %>
    <% if @member.status == "accepted" %>
      <div class="invite-card">
        <div id="invite_group_banner">
          <div id="susu_title">
            <h6><%= link_to susu.name, susu_path(susu) %></h6>
            <p><%= susu.members.count %> members join today</p>
          </div>
        </div>
        <div id="invite_detail">
          <div class="avatar_i">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
            <p> And you are part of this susu</p>
          </div>
           <%= link_to "Open", susu_path(susu), class: "btn btn-light" %>
          <%#= button_to "enter", susu_path(susu), class: "btn btn-light" %>
        </div>
      </div>
    <% else %>
<!--      No susu invitations-->
    <% end %>
  <% end %>
<% else %>
<!--  <p>No susus available.</p>-->
<% end %>
