  <br>

  <div id="show_payment_div">

      <div id="user_show_header">

          <p>mySusu balance</p>
          <img width="20" id="hideIcon" height="20" src="https://res.cloudinary.com/dvql3swac/image/upload/v1710348399/xsrryz8iuwjcbzsdqqlo.png">
          </div>

        <div id="payment_btns_div">
            <div id="secret_balance">
            <h6><b><p> <span id="Actual_balance"> $1000</span></p></b></h6>
            <h6><b><p> <span id="fake_balance">$xxxxx</span></p></b></h6>
        </div>

        <div id="top_btn">
          <p><%= link_to "Topup", "../deposits/new", class: "no-underline" %></p>
        </div>

        </div>
      </div>



      <div id="susu_banner_div">

          <div id="big_card">

            <div id="inner_title_div">

                <h3> <%= @susu.name%>  </h3>

                <div id="button_div1">

                  <img width="20" height="20" src="https://res.cloudinary.com/dvql3swac/image/upload/v1710397112/zqy55trixnjyf3lbuyts.png" alt="guest-male--v1"/>
                  <p> <%= link_to "Invite", "../susus/new", class: "no-underline" %> </p>

                </div>

            </div>

            <div id="inner_avatars_div" >

              <p>Your Group </p>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", style: "margin-left: -10px; border: 2px solid #D9D9D9;" %>


            </div>

          </div>

      </div>
