  <br>

  <div id="show_payment_div">

      <div id="user_show_header">

          <p>mySusu balance</p>
          <img width="20" id="hideIcon" height="20" src="https://res.cloudinary.com/dvql3swac/image/upload/v1710348399/xsrryz8iuwjcbzsdqqlo.png">
          </div>

        <div id="payment_btns_div">
            <div id="secret_balance">

            <div id="Actual_balance">
              <h6><b><p> <span> ZAR<%= @susu.balance %></span></p></b></h6>
            </div>

            <div id="fake_balance">
            <h6><b><p> <span>ZARxxxxx</span></p></b></h6>
            </div>
          </div>

        </div>

        <div id="payment-tab">
        <div id="top_btn">
          <p><%= button_to "disburse", disburse_path(@susu), id:"button199", class: "btn btn-link no-underline" %></p>
        </div>

        <div id="top_btn">
        <p><%= link_to "Topup", "#{new_susu_deposit_path(@susu)}?timestamp=#{Time.current.to_i}", class: "no-underline", id: "reload-link" %></p>

        </div>
      <!--  <p><%#= link_to "Topup", new_susu_deposit_path(@susu, timestamp: Time.current.to_i), class: "no-underline", id: "reload-link" %></p>
-->
        </div>


      </div>



      <div id="susu_banner_div">

          <div id="big_card">

            <div id="inner_title_div">

                <h3> <%= @susu.name %>  </h3>

                <div id="button_div1">

                  <img width="20" height="20" src="https://res.cloudinary.com/dvql3swac/image/upload/v1710397112/zqy55trixnjyf3lbuyts.png" alt="guest-male--v1"/>
                  <p> <%= link_to "Invite", new_susu_member_path(@susu), class: "no-underline" %> </p>

                </div>

            </div>

            <div id="inner_avatars_div" >

              <p>Your Group </p>
                <% @susu.users.each do |user| %>
                  <% if user.photo.attached? %>
                    <%= cl_image_tag user.photo.key, class: "styled-image" %>
                  <% else %>
                    <%= image_tag "placeholder.png", class: "styled-image" %>
                  <% end %>
                <% end %>
            </div>

          </div>

      </div>
