<br>
  <div class="container">
  <br>
    <div id="page_main">

      <div id="header_div">
        <h1><%= @susu.name %></h1>
      </div>
        <br>
      <div class="members">
        <% @members.each do |member| %>
          <div class="card">
            <div class="card-body">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
              <h5 class="card-title"><%= member.user.first_name %></h5>
              <% if @last_deposits[member.id] %>
                <p>Last Deposit Date: <%= @last_deposits[member.id][:date] %></p>
                <p>Last Deposit Amount: <%= @last_deposits[member.id][:agree_amount] %></p>
              <% else %>
                <p>No deposits yet.</p>
              <% end %>
            </div>
          </div>
        <% end %>
<%= link_to "Invite New Member", new_susu_member_path(@susu), class: "btn btn-primary" %>
</div>

  </div>
</div>
